.products {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

table {
  margin-top: 2em;
  table-layout: fixed;
  border-collapse: collapse;
  border: 3px solid purple;
  background-color: white;
}

thead th:nth-child(1) {
  width: 100px;
}

thead th:nth-child(2) {
  width: 100px;
}

thead th:nth-child(3) {
  width: 100px;
}

thead th:nth-child(4) {
  width: 100px;
}

th, td {
  padding: 20px;
}