  <%= form_tag("/products", method: "get") do %>
    <%= label_tag(:q, "Buscar por:") %>
    <%= text_field_tag(:q, nil, required: true, minlength: 4 , maxlength: 100,  onkeypress: "return event.charCode != 32") %>
    <%= submit_tag("Buscar") %>
  <% end %>