<div class='products'>
  <h2>Productos</h2>
  <%= render 'form', user: @products %>
  <% if @products.present? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Marca</th>
          <th scope="col">Descripción</th>
          <th scope="col">Precio neto</th>
          <th scope="col">50% descuento</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product['branch'] %></td>
            <td><%= product['description'] %></td>
            <td><%= product['price'] %></td>
            <td><%= product['offer'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  <% end %>
</div>
